<div class="row">
  <div class="col-md-6">
    <div id="index_workouts">
      <h5><span>Workouts (<%= @workouts.count %>)</span></h5>
      <br>
      <% @workouts.each do |workout| %>
        <%= link_to workout do %>
          <div class="panel panel-default index">
            <div class="container">
              <h5>
                <%= workout.date.strftime("%A, %B %d, %Y") %>
              </h5>
              <h4 class="red"><strong><%= workout.workout %></strong></h4>
              <p>
                <span>Length:</span>
                <%= workout.length %>
              </p>
            </div> 
          </div>
        <% end %>
      <% end %>     
    </div>  
  </div>  
</div>
