<div id="workout">
  <p>
    <%= @workout.date.strftime("%A, %B %d, %Y") %>
  </p>
  <h3>
    <strong><%= @workout.workout %></strong>
  </h3>
  <h5>
    <span>Workout Length: </span><%= @workout.length %>
  </h5>
  <br>
  <p>
    <%= @workout.comment %>
  </p>
</div>
<br>

<h4>Exercises (<%= @workout.exercises.count %>)</h4>
<%= render @workout.exercises %>

<% if (user_signed_in?) %>
  <h5>Add an Exercise</h5>
  <%= render "exercises/form" %>  

  <br>

  <%= link_to "Back", root_path %>&nbsp;
  <%= link_to "Edit", edit_workout_path(@workout) %>&nbsp;
  <%= link_to "Delete", workout_path(@workout), method: :delete, data: { confirm: "Are you sure?" } %>
<% end %>
