<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default index">
      <div class="container">
       
        <h5><strong><span>Group </span>
        <%= exercise.group %></strong></h5>
        
        <h5><span>Exercise:</span>
        <%= exercise.name %></h5>
        
        <% if !exercise.set_one.blank? %>
          <p><span>Set 1:</span>
          <%= exercise.set_one %><p>
        <% end %>
        
        <% if !exercise.set_two.blank? %>
          <p><span>Set 2:</span>
          <%= exercise.set_two %></p>
        <% end %>
        
        <% if !exercise.set_three.blank? %>
          <p><span>Set 3:</span>
          <%= exercise.set_three %></p>
        <% end %>
        
        <% if !exercise.set_four.blank? %>
          <p><span>Set 4:</span>
          <%= exercise.set_four %></p>
        <% end %>
        
        <% if !exercise.set_five.blank? %>
          <p><span>Set 5:</span>
          <%= exercise.set_five %></p>
        <% end %>
        
        <% if !exercise.rest.blank? %>
          <p><span>Rest:</span>
          <%= exercise.rest %></p>
        <% end %>
        
        <% if !exercise.link.blank? %>
          <h5><a href="<%= exercise.link %>" target="_blank" class="red">Watch Video</a></h5>
        <% end %>
      </div>
    </div>  
  </div>
</div>  
    
  
